@import 'free/animations-basic';
@import 'core/colors';
@import 'custom-variables';
@import 'custom-styles';
//Custom font-size
* {
    font-size: 16px;
    .btn {
        //Every button will has border
        @include border-radius(1.625rem);
    }
}

//Home and header
.home {
    @include min-height-auto(50rem);
    background: none;
    position: relative;
    &::before {
        @include bg-opacity-notext;
        opacity: 0.85;
        background: url(../img/images/image-1.jpg) no-repeat center center fixed;
        background-size: cover;
    }
    .navbar {
        .fa-facebook {
            &:hover {
                color: $fb-color;
                @include simple-transition;
            }
        }
        .fa-github {
            &:hover {
                color: $git-color;
                @include simple-transition;
            }
        }
        .fa-linkedin {
            &:hover {
                color: $li-color;
                @include simple-transition;
                ;
            }
        }
    }
    .container {
        @include min-height-auto(50rem);
        .home__h1 {
            font-weight: 600;
            text-shadow: -1px 0 $black-base, 0 2px $black-base, 1px 0 $black-base, 0 -1px $black-base;
        }
    }
    .top-nav-collapse {
        background-color: $black-base;
        opacity: 0.8;
        @include simple-transition;
    }
}

//About section
.about {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), #203A43, #2C5364);
    &__title {
        font-weight: 500;
        @include bg-image-gradient-blue;
        &--h3,
        &--technology,
        &--icon {
            @include bg-image-gradient-blue;
        }
        &--skills {
            @include bg-image-gradient;
            @include bg-image-gradient-pink;
        }
        .about__ol {
            list-style-position: inside;
        }
    } //About container
    .container {
        .about__text {
            line-height: 2rem;
        }
        .about__icon--fab {
            font-size: 2.3em;
            cursor: pointer;
            &:hover {
                @include simple-transition($speed: 0.2s);
                @include transform-scale;
            }
        }
        .about__icon--gulp,
        .about__icon--fa {
            font-size: 2.9em;
            cursor: pointer;
            &:hover {
                @include simple-transition($speed: 0.7s);
                @include transform-scale;
            }
        }
        .fa-html5 {
            color: $color-html5;
        }
        .fa-css3 {
            color: $color-css3;
        }
        .fa-js-square {
            color: $color-js;
        }
        .fa-gulp {
            color: $color-gulp;
        }
        .fa-git {
            color: $color-git;
        }
        .fa-react {
            color: $color-react;
        }
        .fa-php {
            color: $color-php;
        }
        .fa-database {
            color: $color-database;
        }
        .fa-node-js {
            color: $color-node;
        }
        .fa-python {
            @include bg-image-gradient;
            @include background-image-gradient-python;
        }
        .fa-vuejs {
            color: $color-vuejs;
        }
    }
    &__technology {
        .about__icon--skill {
            font-size: 2.2em;
            @include bg-image-gradient;
            background-image: linear-gradient(to right bottom, #d3a4a4, #ca8498, #b76698, #9350a1, #5345ac);
        }
        .skills__a {
            color: $white-base;
        }
    }
}

//Projects
.projects {
    background: linear-gradient(to bottom, #2C5364, #4286f4);
    &__title {
        @include bg-image-gradient;
        background-image: linear-gradient(to right bottom, #6a65c4, #d261a9, #fe7a7d, #fbac5f, #d5e074);
    } //Projects container
    .container {
        .projects__a {
            -webkit-backface-visibility: hidden;
            .projects__img {
                @include border-radius(1.25rem);
                cursor: pointer;
                &:hover {
                    @include simple-transition($speed: 0.9s);
                    filter: drop-shadow(0 0 0.7rem $color-crismon);
                }
            }
        }
        .mask {
            font-size: 2em;
            cursor: pointer;
            @include border-radius(1.25rem);
        }
    }
}

.services {
    padding: 3.125rem 0.625rem;
    background: linear-gradient(to bottom, #4286f4, #03a9f4);
    &__container {
        background: $white-base;
        @include border-radius(1.625rem);
        .services__social {
            font-size: 2.5em;
            color: $black-base;
            font-weight: 600;
            &__links {
                font-size: 2.25em;
            }
        }
        .services__text {
            font-size: 1rem;
        }
        .fa {
            color: $black-base;
            font-size: 4.25em;
            &:hover {
                @include simple-transition($speed: 0.5s, $easing:ease-in-out);
            }
        }
        .icon {
            font-size: 2.75em;
        }
        .fa-linkedin {
            &:hover {
                color: $color-linkedin;
            }
        }
        .fa-facebook {
            &:hover {
                color: $color-facebook;
            }
        }
        .fa-github {
            &:hover {
                color: $color-github-p;
            }
        }
        .fa-google-plus-square {
            &:hover {
                color: $color-googlePlus;
            }
        }
    }
}

.footer {
    .button__footer {
        @include border-radius(100%);
        position: fixed;
        opacity: 0.5;
        bottom: 2px;
        right: 2px;
        -webkit-background-clip: padding-box;
        -webkit-text-fill-color: inherit;
        background-image: linear-gradient(to right bottom, #261bda, #006eff, #009af9, #00bcd1, #2ed8b2);
        &:hover {
            @include simple-transition($speed: 0.6s);
            opacity: 1;
        }
        .fa-arrow-circle-up {
            font-size: 2em;
        }
    }
    &__p {
        .footer__a {
            color: rgb(3, 169, 244);
        }
        .fa-heart {
            color: $color-red;
        }
    }
}